    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Bryllupsdagen</h2>
              <br/>
                <b>Vielse</b>
                <p>Kl 14:00 - Storetveit Kirke</p>
                <b>Middag og fest</b>
                <p>Kl xx:xx - Grand Selskapslokale</p>
                <br/>
              </div>
        </div>
    </section>
