<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>Kontakt oss:</h2>
					<h4>Janne tlf.
					<script type="text/javascript">document.write('\u0034\u0035\u0032\u0030\u0036\u0033\u0035\u0037')</script>
					Alex tlf. 
					<script type="text/javascript">document.write('\u0039\u0037\u0035\u0031\u0034\u0030\u0038\u0030')</script>
					</h4>
				</div>
				<div class="col-lg-6">
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
